<%- include('partials/header') %>

<div class="main-container">
  <div class="container">
    <div class="content">
      <i class="fas fa-key fa-6x"></i>
      <h2 class="display-3">Secrets</h2>
      <p class="lead">
        Don't keep your secrets thought, share them anonymously!
      </p>
    </div>
    <hr />
    <div class="buttongrp">
      <a class="btn register" href="/register" role="button">Register</a>
      <a class="btn logins" href="/login" role="button">Login</a>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
