<%- include('partials/header') %>

<div class="secrete-container">
  <div class="key">
    <i class="fas fa-key fa-6x"></i>
    <h2 class="display-3">Hey! Here is your Secrete</h2>
  </div>
  <div class="secrets-text">
    <p class="secret-text">Jack Bauer is my hero.</p>
  </div>
  <div class="secrete-btn">
    <a class="btn btn-secrete" href="/logout" role="button">Log Out</a>
    <a class="btn btn-secrete" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
